
/* slideLeft */
.slideLeft
{
    opacity: 1 !important;
    -webkit-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.slideLeft.ng-enter
{
    /*transform*/
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
}
.slideLeft.ng-enter.ng-enter-active
{

    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideLeft.ng-leave
{

    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideLeft.ng-leave.ng-leave-active
{

    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
}
.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
            transform: scale3d(1.25, 1.25, 1.25);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
            transform: scale3d(1.25, 1.25, 1.25);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

